body{
    font-family: Arial, sans-serif;
    text-align:center;
    background:#111;
    color:white;
}

#game-container{
    position:relative;
    display:inline-block;
}

canvas{
    background:black;
    border:3px solid yellow;
}

#ranking{
    position:absolute;
    top:10px;
    right:-250px;

    width:220px;

    background:white;
    color:black;

    padding:10px;
    border-radius:10px;
}

#ranking ul{
    list-style:none;
    padding:0;
}

#ranking li{
    margin:5px 0;
}

#info{
    margin-top:15px;
}